body {
    background-color: #605141;
    font-size: 50px;
}
.Conteneur {
   
}

.barrenav {
    padding-top: 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style-type:none ;
    max-height: 180px;
}
.navigation a {
    list-style-type:none ;
    text-decoration:none;
    color: black; 
    font-size: 50px;
    max-height: 180px;

}
.navigation a:hover {
    color: gold;
}
.bouteille {
    border: 1px solid #C09628;
    border-radius: 50% ;
    width: 300px;
    height: 300px;
    margin-right: -160px;
    margin-left: -160px;
    margin-top: -160px;
    margin-bottom: 250px;
}
.animation {
    overflow: hidden;
    
}
 .animbouteille{
     width: calc(400px);
    height: 500px;
    animation: animbiere 1s steps(2) infinite ;
    position: relative;
    right: 70px;
    bottom: 8px;
}

@keyframes animbiere{
    0% { margin-left:50%; }
    100% { margin-left:-100%; }
}
.bestbeer {
    margin-top: -40px;
    border: 1px solid #DCCFA5;
    background-color: #DCCFA5;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-flow: row;
}
.textpres {
    width: 500px;
    margin-top: 40px;
}
.fenetre {
    width: 550px;
    height: 1000px;
    display: grid;
}

.imgbiere {
    grid-column:1/3;
    grid-row:1;
    height: 700px;
}
.imgbiere img {
    width: 100%;
    height: 100%;
}
.caractbiere {
    grid-column:1/3;
    grid-row:2;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

}


.beerOTweek {
    margin-top: 150px;
    border: 1px solid #DCCFA5;
    background-color: #DCCFA5;
    width: 100%;
    height: 200px;
}

@media screen and (max-width:950px) {
    body {
        display: block;
        font-size: 35px;
    }
    .barrenav {
            display: flex;
            flex-flow: column wrap ;
            padding-top: 28%;
        }
        
        .navigation a {
            display: block;
            color: #000;
            padding: 8px 0 8px 16px;
            text-decoration: none;
        }
    }
}